<a href="/contacts">Go back to contacts</a>
  <!-- <input type="hidden" name="contact_id" value="<%=@contact.id()%>"> -->
<h2><%= @contact.first_name()%> <%= @contact.last_name()%></h2>
<h4 class="company-info"> -<%= @contact.job_title()%>, <%= @contact.company()%></h4>
<a href="/contacts/<%=@contact.id()%>/phone_numbers/new">Add a new phone number</a>
<a href="/contacts/<%=@contact.id()%>/mailing_addresses/new">Add a mailing address</a>
<a href="/contacts/<%=@contact.id()%>/email_addresses/new">Add a new email address</a>
